/**
 *	schedule-creator.css
 *		by Fabian Dubacher
 */

#header1
{
	display: inline-block;
}

#author
{
	position: absolute;
	top: 25px;
	left: 50px;
}

#version
{
	padding-left: 5pt;
	font-size: 10pt;
}

#copyright
{
	position: fixed;
	bottom: 0;
	right: 0;
	font-style: italic;
}

#module-selection-wrapper
{
	position: absolute;
	left: 0;
	right: 75%;
	top: 60px;
	bottom: 0;
}

#module-list
{
	position: relative;
	min-height: 100px;
	max-height: 90%;
	overflow: auto;
}

#schedule-wrapper
{
	position: absolute;
	left: 25%;
	right: 0;
	top: 0;
	bottom: 0;
}

#schedule th, td
{
	width: 16.6%;
}

#schedule-options
{
	margin-top: 10px;
}

body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}

table
{
	width: 100%;
}

th
{
	background-color: #e1e7e8;
}

button
{
	padding: 5px;
}

.bgc-white
{
	background-color: white;
}

.schedule-entry
{
	padding: 5px;
}

.hide
{
	display: none;
}

.options-right
{
	float: right;
}