#module-selection-wrapper
{
	position: absolute;
	left: 0;
	right: 70%;
	top: 50px;
	bottom: 0;
}

#import-csv
{
	position: relative;
	height: 50px;
}

#module-list
{
	position: relative;
	min-height: 100px;
	max-height: 90%;
	overflow: auto;
}

#loading
{
	color: green;
	display: none;
}

#schedule-wrapper
{
	position: absolute;
	left: 30%;
	right: 0;
	top: 0;
	bottom: 0;
}

body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

table
{
	width: 100%;
}

th
{
	background-color: #e1e7e8;
}

.bgc-white
{
	background-color: white;
}